body {
    margin: 0px;
    padding: 0px;
    font-family: 'GidoleRegular';
}

.hr {
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 40px auto 40px auto;
    width: 60%;
}

.header {
    font-size: 3em;
    text-align: center;
    margin-top: 10px;
}

.subheader {
    font-size: 1.5em;
    text-align: center;
    line-height: 40px;
    padding: 0px;
    margin: 0px;
}

.main {
    background-color: #FFD900;
    box-shadow: 0px 1px 1px #F0CC00;
    margin-top: 15px;
    height: 40px;
}

.body {
    padding: 10px 30px 10px 30px;
}

.body > p {
    text-align: center;
}

.info1 {
    background-color: #71BDFF;    
    color: #fff;
}

.info2 {
    background-color: #AAA;
    color: #fff;
}

.footer {
    color: black;
    font-size: 0.8em;
    text-align: center;
    margin: 10px 0px 10px 0px;
}

.footer-link {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.btn-link {
    text-align: center;
    border: 1px solid white;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #fff;
    transition: padding 500ms ease, background-color 500ms linear, color 500ms ease;
}

.btn-link:hover {
    background-color: white;
    color: black;
    padding: 8px 14px 8px 14px;
    transition: padding 500ms ease, background-color 500ms linear, color 500ms ease;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #888;
    vertical-align: middle;
}

.nav-menu {
    text-align: center;
    list-style: none;
    line-height: 20px;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    max-height: 40px;
}

.nav-menu > li {
    display: inline-block;
    position: relative;
    line-height: 40px;
    margin: 0px 10px 0px 10px;
}

.nav-menu .nav-link {
    color: #888;
    text-decoration: none;
}

.active {
    border-bottom: 1px solid;
    border-bottom-color: white;
}

.nav-menu .nav-link:hover {
    border-bottom: 1px solid;
    border-bottom-color: white;
}

.nav-dropdown {
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    width: 50px;
    left: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0px 20px 0px 20px;
    max-height: 0px;
    transition: max-height 500ms ease-in, visibility 500ms linear;
    background-color: white;
}

.nav-dropdown > li {
    display: block;
    list-style-type: none;
    text-align: left;
}

.nav-dropdown .nav-link {
    display: block;
    text-align: left;
    line-height: 20px;
    margin: 15px 0px 15px 0px;
}

.nav-dropdown .nav-link:hover {
    border-bottom: 0px;
    color: #71BDFF;
}

.nav-dropdown-container:hover .nav-dropdown {
    visibility: visible;
    max-height: 200px;
    transition: max-height 500ms ease-in, visibility 500ms linear;
}

.project {
    text-align: center;
    width: 100%;
}

.project > div {
    text-align: center;
    margin: auto;
    width: 60%;
}

.link-icon {
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    color: black;
    line-height: 40px;
}

.link-icon:hover {
    color: white;
}

.link-icon > i {
    vertical-align: middle;
}

.link-icon > div {
    display: inline-block;
    padding-left: 15px;
}