body {
    margin: 0;
    padding: 0;
    font-family: "GidoleRegular";
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    border-bottom: 1px solid white;
}

.img {
    width: 100%;
    height: 100vh;
    display: inline-block;    
    background-image: url("landscape-mountains-nature-lake-blurred-darkened.png");
    background-position: center;
    background-size: cover;
}

.header-container {
    display: inline-block;
    position: absolute;
    top: 50px;
    width: 100%;
    height: auto;
    text-align: center;
}

.nav-item {
    margin: 10px;
    color: white;
    font-size: 2em;
    text-decoration: none;    
}

.nav-item:hover {
    border-bottom: 1px solid white;
}

.about:hover ~ #about-dropdown {
    visibility: visible;
    height: 75vh;
    opacity: 1;
    transition: height 1s, visibility 0s linear, opacity 700ms linear;    
}

#about-dropdown {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    margin-top: 10px;
    padding: 20px;
    height: 0px;
    opacity: 0;
    background-color: rgba(51, 51, 51, 0.7);
    transition: height 1s, visibility 700ms linear, opacity 700ms linear;      
}

.about-picture {
    width: 50%;
}

.about-picture > img {
    width: 400px;
    height: 400px;
    background-position: center;
    background-size: cover;
}

.about-bio {
    padding: 20px 30px 20px 30px;
    vertical-align: top;
    text-align: initial;
}

.header-table {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: top; 
}

.header {
    vertical-align: bottom;
    margin: 0;
    font-size: 2.5em;
}

.header > p {
    margin: 0;
}

.subheader {
    vertical-align: top;
    font-size: 1.25em;
}

.arrow {
    text-align: center;
    vertical-align: bottom;
    height: 60px;
}

.footer {
    width: 100%;
    margin: 0px;
    line-height: 40px;
    text-align: center;
    background-color: #333;
    color: white;
}

.content {
    width: auto;
    height: 100%;
    color: black;
    margin: 30px 10px 30px 10px;
    padding: 20px 30px 20px 30px;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
}

.blog-post {
    width: 100%;
    margin-bottom: 50px;
}

.blog-title {
    font-size: 1.75em;
    margin: 0px 0px 10px 0px;
}

.blog-title > a {
    color: black;
}

.blog-info > tbody > tr > td {
    padding-right: 20px;
}

.blog-info > tbody > tr > td > i {
    padding-right: 10px;
}

.blog-hr {
    width: 60%;
    border-bottom: 1px solid #333;
    margin: 10px 0px 10px 0px;
}

.blog-content {
    margin: 10px;
}

.blog-more {
    color: black;
    font-weight: bold;
}